{% extends 'home.html' %}
{% block titulo %}
  Pedidos
{% endblock %}
{% block icon %}<i class="nav-icon fas fa-shopping-cart"></i>{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row my-4">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered" id="myTable">
            <thead class="bg-success">
              <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Perfil</th>
                  <th scope="col">Categoría</th>
                  <th scope="col">Cantidad (Unid)</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Fecha del pedido</th>
                  <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              {% for pedido in pedidos %}
              <tr>
                  <th scope="row">{{ pedido.id }}</th>
                  <td>{{ pedido.producto.nombre }}</td>
                  <td>{{ pedido.perfil }}</td>
                  <td>{{ pedido.producto.categoria }}</td>
                  <td>{{ pedido.cantidadPedida }}</td>
                  <td><strong>S/.</strong> {{ pedido.precioPedido }}</td>
                  <td>{{ pedido.fechaPedido|date:"d/m/Y" }}</td>
                  <td>
                      <a href="#" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i>&nbsp;Edit</a>
                      <a href="#" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i>&nbsp;Delete</a>
                  </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% block crear %}
            <a href="#" class="btn btn-primary btnTest">
              <i class="fas fa-plus"></i> Nuevo registro
            </a>
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}

